.contador {
    width: 400px;
    height: 100px;
    border: 2px solid;
    overflow: hidden;
}
#milhar{
    margin-top: 0px;
    margin-left: 0px;
    width: 100px;
    height: 200px;
    position: absolute;

}

#centena{
    margin-top: 0px;
    margin-left: 100px;
    width: 100px;
    height: 1260px;
    position: absolute;

}
#dezena{
    margin-top: 0px;
    margin-left: 200px;
    width: 100px;
    height: 1260px;
    position: absolute;

}
#unidade{
    margin-top: 0px;
    margin-left: 300px;
    width: 100px;
    height: 1260px;
    position: absolute;

}
.list{
    margin-top: -20px;
    margin-left: 0px;
    list-style-type: none;
    font-family: cursive;
    font-size: 80px;

}

#list_milenio{
    margin-top: -20px;
    margin-left: 0px;
    list-style-type: none;
    font-family: cursive;
    font-size: 80px;
    animation: milenio_down 1s ease-out forwards, milenio_up 1s ease-out forwards 1.5s;
}

#list_centenas{
    margin-top: -1155px;
    margin-left: 0px;
    list-style-type: none;
    font-family: cursive;
    font-size: 80px;
    animation: centena_up 1s ease-out forwards, centena_down 1s ease-out forwards 1.5s;
}

#list_dezenas{
    margin-top: -20px;
    margin-left: 0px;
    list-style-type: none;
    font-family: cursive;
    font-size: 80px;
    animation: centena_down 1s ease-out forwards, centena_up 1s ease-out forwards 1.5s
}

#list_unidade{
    margin-top: -1155px;
    margin-left: 0px;
    list-style-type: none;
    font-family: cursive;
    font-size: 80px;
    animation: centena_up 1s ease-out forwards, centena_down 1s ease-out forwards 1.5s
}

@keyframes milenio_down {
      from {margin-top: -20px;}
      to {margin-top: -146px;}
  }
@keyframes milenio_up {
    from {margin-top: -146px;}
    to {margin-top: -20px;}
}

@keyframes centena_down {
    from {margin-top: -20px;}
    to {margin-top: -1155px;}
}
@keyframes centena_up {
    from {margin-top: -1155px;}
    to {margin-top: -20px;}
}